.card.card-block
  = form_for @order, url: dji_track_orders_path do |f|
    - if @order.errors.any?
      #error_explanation
        %h2= "#{pluralize(@order.errors.count, "error")} prohibited this order from being saved:"
        %ul
          - @order.errors.full_messages.each do |msg|
            %li= msg

    %h4 Credentials
    .row
      .col-xs-4
        .form-group
          = f.label :merchant
          = f.select :merchant, Merchant.active.order(common_name: :asc).collect { |o| [o.common_name, o.id] }, { selected: '1', prompt: 'Choose a Merchant' }, { class: 'form-control' }
    .row
      .col-xs-6
        .form-group
          = f.label :order_id, 'Order ID'
          = f.text_field :order_id, class: 'form-control', placeholder: '123456789012'
          %small.form-text
            We'll never share your whole order ID. The last 4 digits will be masked.
      .col-xs-6
        .form-group
          = f.label :phone_tail, 'Phone Tail'
          = f.text_field :phone_tail, class: 'form-control', placeholder: '1234'
          %small.form-text
            The last 4 digits of the phone number associated with your order. Not shared publicly.
    %p
      Your Merchant, Order ID and your Phone Tail serve as your credentials here.
      %strong.text-warning Do not forget them!
      You may update
      your previous listing just by making sure you are using the same Order ID and Phone Tail when submitting
      this form.

    %hr

    %h4 Order Details
    %p
      The information provided here is optional, but it is useful to help others determine more about your
      order. Submit this form again later using the same credentials above in order to update your entry.

    .row
      .col-xs-6
        .form-group
          = f.label :product_id, 'Product'
          = f.collection_select :product_id, Product.includes(:manufacturer).order('manufacturers.name ASC, products.name ASC'), :id, :manufacturer_product_name, { prompt: 'Select a Product' }, { required: true, class: 'form-control' }
      .col-xs-6
        .form-group
          = f.label :order_time, 'Order Time'
          = f.text_field :order_time, class: 'form-control', placeholder: '2016-09-29 11:21:21 UTC'

    .row
      .col-xs-4
        .form-group
          = f.label :shipping_postal_code, 'Postal Code'
          = f.text_field :shipping_postal_code, class: 'form-control', placeholder: '94123'
      .col-xs-4
        .form-group
          = f.label :shipping_region_code, 'Region Code'
          = f.text_field :shipping_region_code, class: 'form-control', placeholder: 'CA'
      .col-xs-4
        .form-group
          = f.label :shipping_country, 'Country'
          = f.country_select :shipping_country, { priority_countries: ['GB', 'US'], include_blank: 'Select a Country' }, { class: 'form-control' }

    .row
      .col-xs-4
        .form-group
          = f.label :payment_status, 'Payment Status'
          = f.select :payment_status, ['Pay Confirmed', 'Pay Pending'], {}, { class: 'form-control' }
      .col-xs-4
        .form-group
          = f.label :shipping_company, 'Shipping Company'
          = f.select :shipping_company, @shipping_companies, {}, { class: 'form-control' }
      .col-xs-4
        .form-group
          = f.label :shipping_status, 'Shipping Status'
          = f.select :shipping_status, ['Pending', 'Shipped'], {}, { class: 'form-control' }

    .row
      .col-xs-6
        .form-group
          = f.label :tracking_number, 'Tracking Number'
          = f.text_field :tracking_number, class: 'form-control'
          %small.form-text
            If you have a tracking number then we can automatically look up
            the status of the shipment.

    .row
      .col-xs-6
        .form-group
          = f.label :email_address, 'DJI Username'
          = f.text_field :dji_username, class: 'form-control', placeholder: 'kevinelliott'
          %small.form-text
            This help you and others identify your order.
      .col-xs-6
        .form-group
          = f.label :email_address, 'Email Address'
          = f.text_field :email_address, class: 'form-control', placeholder: 'kevin@welikeinc.com', type: 'email'
          %small.form-text
            Provide your email address if you wish to be notified about changes to your order status. (not yet avail)

    = f.hidden_field :manual, value: true
    .actions
      = f.submit 'Save', class: 'btn btn-primary form-control'
