- content_for :subnav do
  = render 'layouts/subnav_dji'

.container

  .row
    .col-md-8

      .card
        .card-block.bg-highlight
          .row
            .col-lg-4.col-md-4
              = image_tag 'mavic-pro.png', class: 'img-fluid'
            .col-lg-8.col-md-8.col-sm-12.col-xs-12
              %h1.media-heading
                Mavic Pro Orders
              %p.lead
                Crowdsourced order statuses. Find out when your 
                %strong Mavic Pro
                order ships.
              %p.small
                Estimate when your order might ship. This helps you to get an idea of how the DJI queues are
                shipping. We need more realtime data to do further analysis on, so you should contribute your order information
                in order to help other people.
              %p
                Average shipping duration is currently  
                %strong
                  = @average_duration
              %small.text-muted
                Last updated 5 minutes ago.

      %p.alert.alert-info
        %strong Contribute your data:
        = link_to 'Submit it Manually', new_dji_track_order_path, class: 'btn btn-sm btn-info'
        or
        = link_to 'install my DJI command-line tools', 'http://github.com/kevinelliott/dji'
        to see it realtime and self-publish it here.

      %p.alert.alert-warning
        %strong
          Coming soon:
        Email and SMS alerts when key order information changes. DJI only emails you when your order ships, but we can detect various stages that they don't communicate about, such as Wait Pick, Shipped (without tracking), etc.

    .col-md-4

      .card
        .card-block
          %h4.card-title Update Your Details
          %p.card-text
            Need to make a change to the details you submitted? Update
            your entry by going to the 
            #{link_to 'manual submission form', new_dji_track_order_path }.
            Use the same
            %strong Order ID
            and
            %strong Phone Tail
            as you previously did, but put in the 
            %strong Details 
            that you want to add or change.

      .card
        .card-block
          %h4.card-title Drone Chat
          %p.card-text
            While you are waiting, why not chat with other people who also
            ordered a Mavic? Realtime discussions with other drone enthusiasts.
          .text-xs-center
            = link_to 'Request Invitation', 'https://welike.typeform.com/to/m03t7Q', class: 'btn btn-primary'
        .card-footer
          .text-muted
            It's free and public.

  %br

  - @merchants.each do |merchant|
    - orders = @merchant_orders[merchant.id]

    - if orders.present?

      .orders-header.clearfix
        .float-xs-left
          %h2= merchant.common_name
          %small.text-muted= merchant.name
        .float-xs-right.text-xs-right
          %h2
            %small
              #{shipped_percent(orders)}% Shipped
          %small.text-muted
            #{delivered_percent(orders)}% Delivered


      .orders-subheader
        .orders-chart
          = column_chart chart_data_dji_track_orders_path, stacked: true

      %table.table.table-sm.table-striped.table-middle.table-responsive.table-hover
        %thead.thead-inverse
          %tr
            %th Rank
            %th
              = sort_column :order_id, 'Order ID'
            %th
              = sort_column :dji_username, 'DJI Forum Username'
            %th
              = sort_column :order_time, 'Order Time'
            %th Product
            %th
              = sort_column :shipping_country, 'Country'
            %th
              = sort_column :payment_status, 'Payment'
            %th
              = sort_column :shipping_company, 'Shipper'
            %th
              = sort_column :shipping_status, 'Shipping'
            %th
              = sort_column :delivery_status, 'Delivery'
            %th.text-xs-right
              = sort_column :last_changed_at, 'Last Changed'
            %th.text-xs-right
              = sort_column :updated_at, 'Last Reported'

        %tbody
          - orders.each_with_index do |order, index|
            %tr.order.order-clickable{ class: order.order_table_row_class, data: { toggle: 'modal', target: '#historyModal', remote: history_dji_track_order_path(order), masked_order_id: order.masked_order_id } }
              %td
                = index+1
              %td.text-xs-left{ class: !order.dji_lookup_success ? 'font-weight-bold' : '' }
                = order.masked_order_id
              %td.text-xs-left
                - if order.gravatar_url.present?
                  = image_tag order.gravatar_url, width: 25, class: 'rounded-circle'
                = order.dji_username
              %td.text-xs-left
                = order.order_time
              %td.text-xs-left
                - if order.product.present?
                  = order.product.name
              %td.text-xs-left
                - if order.shipping_country.present?
                  = flag_icon(order.shipping_country[0..1].downcase.to_sym)
                  = order.shipping_country
              %td{ class: order.payment_status_class }
                = order.payment_status
              %td{ class: order.shipping_company_class }
                = order.pretty_shipping_company
              %td{ class: order.shipping_status_class }
                = order.shipping_status
              %td{ class: order.delivery_status_class }
                - if order.estimated_delivery_at.present?
                  - if Time.current > order.estimated_delivery_at
                    Arriving
                  - else
                    In
                    = distance_of_time_in_words(order.estimated_delivery_at, Time.current)
                - else
                  %span{ title: order.delivered_at }
                    = order.delivery_status.capitalize
              %td.text-xs-right{ title: order.last_changed_at }
                = time_ago_in_words order.last_changed_at
                ago
              %td.text-xs-right{ title: order.updated_at }
                = time_ago_in_words order.updated_at
                ago

  %br
  %br

= render 'history_modal'
