- content_for :subnav do
  = render 'layouts/subnav_dji'

.jumbotron
  %h1.display-4 Recently Shipped
  %p.lead
    A listing of orders that have shipped in the last couple of days from all merchants.

.shipping-status
  - case @shipping_state
  - when :active
    .alert.alert-success
      %strong Shipping normal.
      Orders are being sent out (#{@shipping_state_count} orders in the last 12 hours).
  - when :slow
    .alert.alert-warning
      %strong Shipping slow.
      Orders are slowly being sent out (#{@shipping_state_count} orders in the last 24 hours).
  - when :stopped
    .alert.alert-danger
      %strong Shipping stopped.
      Orders are not being sent out (no orders over last 24 hours).

- days = @order_state_logs.keys.reverse
- days.each do |day|
  %h5.shipped-day
    = day.to_s(:long)
    .float-xs-right
      %small
        #{@order_state_logs[day].count} orders shipped
  
  %table.table.table-sm.shipped-orders
    %thead
      %tr
        %th Time
        %th Merchant
        %th Order ID
        %th Destination
        %th Order Time
        %th Product
        %th Wait Until Shipping
    - @order_state_logs[day].each do |osl|
      %tr.order
        %td.text-xs-right.order-shipped-date
          = osl.created_at.to_s(:time)
        %td
          = osl.order.merchant.common_name
        %td
          = osl.order.masked_order_id
        %td.text-xs-left
          - if osl.order.shipping_country.present?
            = flag_icon(osl.order.shipping_country[0..1].downcase.to_sym)
            = osl.order.shipping_country
        %td
          = osl.order.order_time
        %td.text-xs-left
          = osl.order.product.try(:name)
        %td.text-xs-right
          - if osl.created_at.present? && osl.order.order_time.present?
            - wait_in_days = ((osl.created_at - osl.order.order_time) / 60 / 60 / 24).round
            - if wait_in_days > 0
              #{wait_in_days} days
          - else
            Unknown