%p#notice= notice

%p
  %b Manufacturer:
  = @product_family.manufacturer
%p
  %b Name:
  = @product_family.name
%p
  %b Description:
  = @product_family.description
%p
  %b Logo url:
  = @product_family.logo_url
%p
  %b Website:
  = @product_family.website
%p
  %b Status:
  = @product_family.status

= link_to 'Edit', edit_product_family_path(@product_family)
\|
= link_to 'Back', product_families_path
