.jumbotron
  %h1.display-3 Orders from DJI
  %p.lead
    Crowdsourced order statuses. Find out when your 
    %strong Mavic Pro
    order ships.
  %hr.my-2
  %p
    This is used to
    be able to know where/when your order might ship. It helps you to get an idea of how the queues are
    shipping. Right now we need more realtime data to do further analysis on, so you should contribute your order information
    in order to help other people.
  %small
    Have issues, ideas, or comments? Contact Kevin at
    = mail_to 'kevin@welikeinc.com', 'kevin@welikeinc.com', subject: 'DJI Track'
    and you can find me as
    %strong kevinelliott
    on the DJI Forums or RC Groups.
 
%p.alert.alert-info
  %strong Contribute your data:
  = link_to 'Submit it Manually', new_order_path, class: 'btn btn-sm btn-info'
  or to submit it automatically every 5 or 10 minutes, install the DJI command-line tools at
  = link_to 'http://github.com/kevinelliott/dji'
  and specify the
  %strong --publish
  option.

%p.alert.alert-warning
  %strong
    Coming soon:
  Email and SMS alerts when key order information changes. DJI only emails you when your order ships, but we can detect various stages that they don't communicate about, such as Wait Pick, Shipped (without tracking), etc.

- @merchants.each do |merchant|
  - orders = @merchant_orders[merchant.id]

  - if orders.present?

    %h2
      = merchant.name
      .float-xs-right
        %small
          #{orders.shipped.count / orders.count}% of Orders Shipped

    %table.table.table-sm.table-striped.table-middle
      %thead.thead-inverse
        %tr
          %th Rank
          %th Order ID
          %th DJI Forum Username
          %th Order Time
          %th Country
          %th Payment Status
          %th Shipping Status
          %th Shipping Company
          %th.text-xs-right Last Changed
          %th.text-xs-right Last Reported

      %tbody
        - orders.each_with_index do |order, index|
          %tr
            %td
              = index+1
            %td.text-xs-left
              = order.masked_order_id
            %td.text-xs-left
              = order.dji_username
            %td.text-xs-left
              = order.order_time
            %td.text-xs-left
              - if order.shipping_country.present?
                = flag_icon(order.shipping_country[0..1].downcase.to_sym)
                = order.shipping_country
            %td{ class: order.payment_status_class }
              = order.payment_status
            %td{ class: order.shipping_status_class }
              = order.shipping_status
            %td{ class: order.shipping_company_class }
              = order.pretty_shipping_company
            %td.text-xs-right{ title: order.last_changed_at }
              = time_ago_in_words order.last_changed_at
              ago
            %td.text-xs-right{ title: order.updated_at }
              = time_ago_in_words order.updated_at
              ago

%br
%br
