%h1 Updating DJI Orders
%p
  Now attempted to update DJI Order Tracking for orders least recently updated.

- @orders.each_with_index do |order, index|
  .order
    .order-count
      = index
    .order-title
      = order.merchant.name
      Order
      = order.order_id
      /
      = order.phone_tail

    - options = { order_number: order.order_id, phone_tail: order.phone_tail }
    - data = DJI::OrderTracking.tracking_details(options)
    - if data.present?
      - order.assign_attributes(payment_total: data[:total], shipping_status: data[:shipping_status], shipping_company: data[:shipping_company], tracking_number: data[:tracking_number])
      - if order.changes.present?
        - order[:last_changed_at] = Time.zone.now  
        - order.save

      = order.shipping_status
      = order.shipping_company
    - else
      Invalid order!
    - sleep 1