- content_for :subnav do
  = render 'layouts/subnav_dji'

.jumbotron
  %h1.display-4 DJI Track
  %p.lead
    Track your preorders &amp; regular orders from various merchants, and understand where your order is in relation to
    other people's shipping status.

.row
  .card-deck
    .card
      = image_tag 'drones/dji-mavic-pro-1-1024x683.jpg', class: 'card-img-top img-fluid', alt: 'DJI Mavic Pro'
      .card-block
        %h4.card-title.text-xs-center Mavic Pro Preorders
        %p.card-text
          Realtime shipping statuses of the brand new DJI
          Mavic Pro &amp; Mavic Pro Fly More combo.
      .card-block
        .text-xs-center
          = link_to 'Mavic Pro Orders', dji_track_orders_path, class: 'btn btn-primary'
          = link_to 'Recently Shipped', recent_dji_track_orders_path, class: 'btn btn-default'
    .card
      = image_tag 'drones/dji-phantom-4-pro-1024x683.jpg', class: 'card-img-top img-fluid', alt: 'DJI Phantom 4 Pro'
      .card-block
        %h4.card-title.text-xs-center Phantom 4 Pro Preorders
        %p.card-text
          Realtime shipping statuses of DJI's brand new Phantom 4 Pro.
      .card-block
        .text-xs-center
          = link_to 'Phantom 4 Pro Orders', dji_track_orders_path, class: 'btn btn-primary'
          = link_to 'Coming Soon', '#', class: 'btn btn-default'
    .card
      = image_tag 'drones/dji-inspire-2-1024x683.jpg', class: 'card-img-top img-fluid', alt: 'DJI Inspire 2'
      .card-block
        %h4.card-title.text-xs-center Inspire 2 Preorders
        %p.card-text
          Realtime shipping statuses of DJI's brand new Inspire 2.
      .card-block
        .text-xs-center
          = link_to 'Inspire 2 Orders', dji_track_orders_path, class: 'btn btn-primary'
          = link_to 'Coming Soon', '#', class: 'btn btn-default'
