.jumbotron
  %h1.display-4 Products
  %p.lead
    Learn about available drones and their accessories for a variety of market leading drone manufacturers.
  %p.text-muted
    If you are planning to purchase a drone in the near future, make sure that you consider buying through a link
    below in order to benefit our community. All purchases made by clicking links from here result in helping
    to offset the cost of running this community and will ensure that it continues to grow.
    Tell your friends.

.row
  .col-sm-4

    .product-menu-section
      %h4.text-muted
        All Manufacturers
      %ul.list-group
        = link_to 'All Products', products_path, class: (params[:product_family].to_i == 0 ? 'list-group-item list-group-item-action active' : 'list-group-item list-group-item-action')

    - @manufacturers.each do |manufacturer|
      .product-menu-section
        %h4.text-muted
          = manufacturer.common_name

        %ul.list-group
          - manufacturer.product_families.active.each do |product_family|
            = link_to product_family.name, products_path(request.query_parameters.merge(product_family: product_family.id)), class: (params[:product_family].to_i == product_family.id ? 'list-group-item list-group-item-action active' : 'list-group-item list-group-item-action')

  .col-sm-8
    .product-group
      %h4.text-muted
        - if @product_family.present?
          = @product_family.name
        - else
          All Products

      - if @products.count > 0
        - @products.each do |product|
          .card-deck-wrapper
            .card-deck
              = render product
      - else
        No products yet.

    .product-group
      %h4.text-muted
        - if @product_family.present?
          = @product_family.name
          Accessories
        - else
          All Accessories

      - if @accessories.count > 0
        - @accessories.each do |product|
          .row
            = render product
      - else
        No accessories for this product family yet.
