.jumbotron
  %h1.display-4 Products
  %p
    Learn about available drones and their accessories for a variety of market leading drone manufacturers. All
    purchases made by clicking links from here to product pages result in helping to offset the cost of
    running this community and will ensure that it continues to grow.

.row
  .col-sm-4

    .product-menu-section
      %h4.text-muted
        All Manufacturers
      %ul.list-group
        = link_to 'All Products', products_path, class: (params[:product_family].to_i == 0 ? 'list-group-item list-group-item-action active' : 'list-group-item list-group-item-action')

    - @manufacturers.each do |manufacturer|
      .product-menu-section
        %h4.text-muted
          = manufacturer.common_name

        %ul.list-group
          - manufacturer.product_families.each do |product_family|
            = link_to product_family.name, products_path(request.query_parameters.merge(product_family: product_family.id)), class: (params[:product_family].to_i == product_family.id ? 'list-group-item list-group-item-action active' : 'list-group-item list-group-item-action')

  .col-sm-8
    %h4.text-muted DJI Mavic Pro

    - @products.each do |product|
      .row
        .card.product
          .card-img-top
            .product-image
              = image_tag product.logo_url, class: 'img-fluid'
          .card-block
            %h5.card-title
              = product.name
            %h6.card-subtitle.text-muted
              = product.manufacturer.name
          .card-block
            %p.card-text
              = product.description
          .card-footer
            - if product.dji_store_url.present?
              = link_to 'DJI Store', product.dji_store_url, class: 'btn btn-sm btn-outline-secondary', target: '_blank'
            - if product.asin.present? || product.upc.present?
              = link_to 'Amazon', product.amazon_url, class: 'btn btn-sm btn-outline-success'