!!!
%html
  %head
    %meta{:name => "viewport", :content => "width=device-width, initial-scale=1.0"}
    %title= content_for?(:title) ? yield(:title) : 'DJI Track'
    %meta{:name => "description", :content => "#{content_for?(:description) ? yield(:description) : 'DJI Track'}"}
    = stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => 'reload'
    = javascript_include_tag 'application', 'data-turbolinks-track' => 'reload'
    = csrf_meta_tags
  %body
    %header
      = render 'layouts/navigation'
    %main{:role => "main"}
      = render 'layouts/messages'
      = yield
    %footer
      .container
        %hr
        %small
          Have issues, ideas, or comments? Contact Kevin at
          = mail_to 'kevin@welikeinc.com', 'kevin@welikeinc.com', subject: 'DJI Track'
          and you can find me as
          %strong kevinelliott
          on the DJI Forums or RC Groups.
        %br
        %br